.mat-icon-e {
    position: relative;
    bottom: 10px;
    font-size: small;
}

.mat-select {
    position: relative;
    bottom: 10px;
    font-size: small;
}

.body-card {
    position: relative;
    height: 100%;
    padding-top: 1px;
}

.table-card {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    overflow: auto;
}