// .label-font-size {
//   font-size: 15px;
// }

// .mat-icon {
//   position: relative;
//   bottom: 9px;
// }

// .mat-select {
//   position: relative;
//   bottom: 9px;
//   font-size: medium;

// }

.search-field {
  background-color: white;
  position: absolute;
  top: -1px !important;
  left: 0;
  right: 0;
  height: 100%;
}

.first-option {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff; /* Optional: Set the background color to match the dropdown */
}
