<form [formGroup]="loanForm" *transloco="let t">
    <div class="flex gap-2 h-13">
        <mat-form-field class="w-60 text-lg"  appearance="outline">
            <mat-label class="label-font-size">{{t('loanCode')}}</mat-label>
            <mat-icon class="" matPrefix svgIcon="mat_outline:info"></mat-icon>
            <input formControlName="code" class="input" matInput [placeholder]="''" >
        </mat-form-field>

        <mat-form-field class="w-60 text-lg"  appearance="outline">
            <mat-label class="label-font-size">{{t('description')}}</mat-label>
            <mat-icon class="" matPrefix svgIcon="mat_outline:info"></mat-icon>
            <input formControlName="description" class="input" type="text" matInput [placeholder]="''" >
        </mat-form-field>

        <div class="w-60 hover:w-80">
            <app-dropdown-custom [multiple]="false" [control]="loanForm.get('categoryId')"   [type]="1043" [value]="lf.categoryId"   [options]="dropdownOptions.categoryDef" [useControl]="true"></app-dropdown-custom>
        </div>

        <div class="w-60 hover:w-80">
             <app-dropdown  [isFix]="false" [control]="loanForm.get('jeAccountCodeId')"  [options]="dropdownOptions.accountCodeDef" [icon]="'mat_outline:info'" [type]="133" [useControl]="true"> </app-dropdown>
        </div>

        <div class="w-60 hover:w-80">
            <app-dropdown  [isFix]="false" [control]="loanForm.get('jeAccountId')"  [options]="dropdownOptions.accountNameDef" [icon]="'mat_outline:info'" [type]="134" [useControl]="true"> </app-dropdown>
        </div>

        <div class="w-60">
            <app-dropdown  [isFix]="false" [control]="loanForm.get('jeAccountCode1')"  [options]="dropdownOptions.accountCodeDef" [icon]="'mat_outline:info'"  label="Account Code Secondary " [type]="133" [useControl]="true"> </app-dropdown>
        </div>

        <div class="w-60">
          <app-dropdown  [isFix]="false" [control]="loanForm.get('jeAccountName1')"  [options]="dropdownOptions.accountNameDef" [icon]="'mat_outline:info'"  label="Account Name Secondary" [type]="134" [useControl]="true"> </app-dropdown>
        </div>

    </div>
    <div class="grid grid-cols-8 gap-2 h-13 mt-2">
        <mat-form-field class="w-full text-lg" appearance="outline">
            <mat-label class="label-font-size">{{t('debitCredit')}}</mat-label>
            <mat-select formControlName="debitOrCredit"  [placeholder]="''">
                <mat-option [value]="1">Debit</mat-option>
                <mat-option [value]="0">Credit</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full text-lg" appearance="outline">
            <mat-label class="label-font-size">{{t('costOrHR')}}</mat-label>
            <mat-select formControlName="costOrHr"  [placeholder]="''">
                <mat-option [value]="0">Cost</mat-option>
                <mat-option [value]="1">HR</mat-option>
                <mat-option [value]="2">Custom</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full text-lg" appearance="outline">
            <mat-label class="label-font-size">{{t('status')}}</mat-label>
            <mat-select formControlName="active" [placeholder]="''">
                <mat-option [value]="true">Active</mat-option>
                <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>

