<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering allowDoubleEscaping="true" removeServerHeader ="true" />
    </security>

    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="Set-Cookie" value="usetiful-visitor-ident=; SameSite=Strict; Secure; HttpOnly" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Cache-Control" value="no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="Report-To" value='{"group":"csp-endpoint","max_age":2592000,"endpoints":[{"url":"https://appv2.aanyahr.com:3000/api/connect/cspreport"}],"include_subdomains":true}' />
        <add name="Content-Security-Policy" value="default-src 'self';
	script-src 'self' https://www.usetiful.com ;
	style-src 'self' https://www.usetiful.com
'sha256-zsc0nnDOp1TfPiK3UDjKx9YQeLpEqlahHd/6r4u0VtI=' 
'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=' 
'sha256-UwgV1CZMR6Oms7lh0GxnfQT8+TLVKJWla/OBmHukIwE=' 
'sha256-yywMYzxvcqiYJJhhZGskrxtyIF8Cve5wwIkbf0u1b6Q=' 
'sha256-fyCDFOuCEcxb3vOoB3skKQjSSDN28SfCc+Zj320MXMc=' 
'sha256-jzJK+BM4/SOlytyKXw79HKeGwmYVUCWRtZFxVFMpA6k=' 
'sha256-X3UL3mZ1nLhAAai/WXqlwd8rNLKGSqGF3cH70jqE9wo='
'sha256-RczHuWsHHA4TS4iOGuZwYI8ZnIEKABausBPZKzDaKns='
'sha256-n6eSA4JEz7Q1fuSBKy60EwwL9V+ouSg30bMLNfKSm38='
'sha256-BFlTuVF512e8p4qpoVWklguRV1JobQs4MJY9d95THik='
'sha256-Y2NMGr5Pz0xuLu5TID29Hhow4xBTFxHyHWv8g9SCPTc='
'sha256-08kQ8chUlBbGQAlv06NoDrIs/M1C91bvBlneOOfrodI='
'sha256-3+Cg/DSYmQaQlRTTrzqdE3cudVfy7DFVgu+ie6TbL2Y='
'sha256-k/HW7KHQ+I2iDtPTE7YZI4QEB/7tuF8jWf5IscdWpEI='
'sha256-lwJeVkZL3Zs5T16nPtplaIO3nHVCX2v1qEfNGVcWwpg='
'sha256-q05fBX3h5eQd7Qln/Vou7SV4Aa5nf7Y9W+0gVoMUmdM=' 'unsafe-hashes'
'sha256-+YWRMZ88jMyO7jVlBA52tZADiPobPIUA8LAWee68Fvs=' 'unsafe-hashes'
'sha256-eWnPTiHXyvLBjahelxuo4zzyepGsfJAN06mXm8q5q9A='
'sha256-Op3N85OkljOytED/Y8AXFRvJqU0RqcASjhxIOG/b4FQ='
'sha256-skbxdwyEi/+fYNEQANE+Fgq51ASM3W+9RSsvd17etd0='
'sha256-yn+fKNL6W3dHWqvat7GD14gkq78wYrEbPu49T75mI4c='
'sha256-ARpawY1mXsYzwIiXbdnw5rFNrJBu6KsRL0/1f+Jx4qQ='
'sha256-rVW3NLobSEoK7uC3PFZuUl+zbIEVsk/gxEzmzKTWlWM='
'sha256-sRrsWp7ssojYjmiBnwovlV8Q1sQDoTTuYDb7c+5hUoo=' 'unsafe-hashes'
'sha256-jFy9TXrZEYnIAmA2mecQyCW50SG0LDBnRlyGbjy/Oz4='
'sha256-M5/hhFnravvpBPH6C+c7bCyf8ouHclweQ5b8YU6hKKQ='
'sha256-I79PGdHAIzsGFymcByKNnTXwTz8xvX+BGC/Tey7i2tc='
'sha256-dBkbQfYYPQYWXdIOwczLR7LP01x9679mFghbPS4/jDs='
'sha256-tnMNIZvZ3RrdRXFRfH0P4dSMV5GSTx+ba0EBiGH4Pz8='
'sha256-AxRhRbot5WyP7Vd9bu2PrcupVrVae1KkO1eirqSNMFY='
'sha256-JGnHrJDuEdLtIOuVy+EKOMUU6asen/QoREIjhjlZN64='
'sha256-z7FI6PaAZCMqjhrcPhxCPWYtvLUDsjbzmrNneCtevBg='
'sha256-Mkl3iXEJx76OuwLjV5Fod5O6NWf0y+qggPo0t+U+wZU='
'sha256-zsMUAHlrvyNk8TKankS7tuqUQsfmsn9hNFAvx8ORU0c='
'sha256-6+xrB84CYABvwa7VIETQdUCD3HStPhPSis77S9bcv5o='
'sha256-biLFinpqYMtWHmXfkA1BPeCY0/fNt46SAZ+BBk5YUog='
'sha256-/wV5864nJvIfSTvTcEevgnjGHSY2i7sC1IO4/9UBoJ8='
'sha256-Fb/G+x2pyykD8nXSWg8dwwE8PlpQmP+5CwF9NbJIGQ4='
'sha256-veX77EpHRpLNM9gBaA+nN0v1o5dMtqZ0qrinBNkMw1I='
'sha256-aL9FFqzym7Nggn2mVbfVUt7RfYCunnQ4mjhDfVY4KTc='
'sha256-t7lmRq6uqAdcxJxLy5UFa88TAG++zZ0I1v7YPntTvbg='
'sha256-xm1txALNKnpiRyvCh9CXokm2ywLffHpCo7nhSykzld4='
'sha256-IGQNLJ5Ts5Lom2qevDcMnq6FGvC/YU32n7etnZ202N8='
'sha256-CFdIs1cSxMMBDVpubW5PQXvsc9XnOcS88i4h9P3+JEU='
'sha256-gfWbSqMaIhzFDWotFPK6wVQzZM9xlfkylhex2HcTSlg='
'sha256-k6fpP/kMDBYJYM75pM2VI2SnccAFI9X4TMmEEWQ2WnU='
'sha256-R6obK9MMsplmiXgdjMr4FC0U3dVO2OoyS5Zi+2XrVSg='
'sha256-hvDJzxfBitrWq8V8hsaklw/6TeHdQUkBs1r8FraHAF8='
'sha256-FYDaujqemHugTDChhfOY1JPtMLtXTWbLKqTFzxsDQeE='
'sha256-cRYUmSHFAUEi20MpAdFmzT9ge9H88mT6J8MWdCuO5DA='
'sha256-AyW2Lr6xuHNclI4AsbSA2JlIfpAeaMyAzVjMfg02th8='
'sha256-iRMiNe2NwxqT2S5ArUB2WrcT6nRR9eWw1E2VYNE3NUU='
'sha256-kFIottUtGPAq2cagsv7YwqslSibYYh70fS9rLc0Tn0E='
'sha256-Y9v1MZrln1N8aPBY5lmpxYKwFkcp/nyBMMEnn7WFjuw='
'sha256-HrvAPhJHDMpEBcplBvvwyxAYUF0koC1/uv7HLEC0aqg='
'sha256-0EZqoz+oBhx7gF4nvY2bSqoGyy4zLjNF+SDQXGp/ZrY='
'sha256-aqNNdDLnnrDOnTNdkJpYlAxKVJtLt9CtFLklmInuUAE='
'sha256-/dHlWtC7mf1EfE7Xnktsszks0FUzOkpPeCLtj8Xh1UE='
'sha256-H21bq+jZ9WqAKSmlxNoRvePebWNpJes4mOZsF3FNE+o='
'sha256-1w3W4r+KEFiJeMVx8zOs4Bq8tboVckT19DPQL5E5rBQ='
'sha256-mFOh+l7Y4w6KOQZUM8tcFfZtHtYkGmDHLK0ATMNaxgQ='
'sha256-KIu2s5NJ4l7Y1hUnAlPf04XvJ9MAUCh+IccBLqZn0G4='
'sha256-VSE0uJ1GEZsDPfNEsFGj2ZTJ6DG1HjTHGrj9nLZL1wQ='
'sha256-xVY2YICo8+QhBdmtRoGeodms4om/BHXSKXUByLkWo4I='
'sha256-FzX1b9xR7V7u3bMzZuQAjJOcWR3iqOesgr6hUsMbH04='
'sha256-3XTXBdzQ9tddAtD8SAIzfTjSCbzP+yNQKtAnfzOwAoU='
'sha256-SPhx69XtMCtZrPZJWpU8B8ilwbCMdLoZV94rkVGGEWY='
'sha256-j4YgmEczUOLqXHbix6To6rDYlCvdvm7NeMRgmrEboLQ='
'sha256-20LDF+TrlPckgTA4/TFZhyoEm9YcoEqEKTKkkf2Go5s='
'sha256-TdOVvZpPneUrTZ5vB9O3aT8gPV7L8ACfsylZZ3LKzOs='
'sha256-PEI0mqXF1OFcV02ftvNsmGfzOGX09E1/2Kwk8q4uKfU='
'sha256-va/LHN/kkaiHkNLW6uxwGgWSG26aRqzRFEBcLSSUxp4='
'sha256-eIUqgPTKhr3+WsA7FtEp+r8ITeTom+YQ/XO6GMvUtjc='
'sha256-mT3XJ2HIAwpMRTmCTbdF0GwvN9LATPEbCywgZMctJSk='
'sha256-fQKSbVn3AzkGP9Ao4R6IBywjAEIyeVyj4T7wVasn3ug='
'sha256-wkY2X5hecQzbhnFCqvTpwrUJ1f4X8LH5WFjYUzv1wmU='
'sha256-ljawObcN148oOmx8jGaYUo+E2Gz08KdAnKGbjH0bK7c='
'sha256-I8dvnkfA0PK1CAx3XYsb0LigIHd3AU6LFjXlNjuFRBg='
'sha256-WAJTR94vbFXHkkgTLp0D+ZV/1AOyuUbpbvLVdG/4gZ4='
'sha256-HCL0ARQCHGeVM5KdjCCTge6ReODXR3Y55paNzxYQsZk='
'sha256-o6xQdiMAQFz1J2A9aykwKRAVBbxYcLxBOTvuLgnINtU='
'sha256-QBfP92azuefLsFgUCGFhqsNmd3J6DmSE4X9TLDe5UYY='
'sha256-3JQvpVCfU2WoO32ZbRwbH76jf+eebjG1WszsQqClqvU='
'sha256-S5sTPVC0sZUEoWbi+1tuu5bV7ibr5tteUfPxwde4mLg='
'sha256-ANOo/IpFcrC6yhCpjjbEL7yDxYv8357j0KAbWSYfyR4='
'sha256-9I1um0FmYJu8HaBrZ/w7yeGUufGg9XGTJHIDN/jgv74='
'sha256-SQyIn1jjJSmYqJesDrNEnzeez3Ss6uaXhUdoKNvHf0g='
'sha256-JWLSSpxaAsgc/+y1yKy4lQd0Mj5jHVeHVWh027KL5JE='
'sha256-yObCnfjRQynX4mqgadcywY35yk+c7uyG4otHXIOP5cI='
'sha256-/s5RBx4WNXv748ajHOJMZTpoaAK/FQctQdWTE4j2HqM='
'sha256-fvgajRqGCmejj2rGYaNop+PbNnKec0ES6HtxPvq0pkQ='
'sha256-6sIzcaul50U8AZICS7MRWYygQHY6bmXZwuQPBJPSbBU='
'sha256-qZ5M3LxE85vvEtLFugyHg7nvzBKKcnIMmjtQ6445YNA='
'sha256-YiCWJ4lGrvvmpePuHe2w8nlWfE9Qd0V1Ethw5aEv1rE='
'sha256-m+WVVxa3anKv4r15VfbV9zIIEqknBOVzqOmx/K4njKM='
'sha256-uGb7wB6O0vTEKswJ/Xrgy/jLIWcBDKGTUISOM/8pv4g='
'sha256-SevFaEhhW1TBWJ/0hMrWEeISM5ObZepc4HO4IeUbk5k='
'sha256-Yg31ZfpskXFz6+Ttk0RV6Wk2BByRZQryZIL9aq+N7w4='
'sha256-CRGl7Y/Zdv7ZdqX3gxy7oKolD4fjS8H3DEpRpwpArXQ='
'sha256-s7dq6oRM5mBLoVxJTnvwEfZf4gQGyHPMn+bMLpO80/s='
'sha256-+HwLx8H+GWOdd1AE+kftKqA/Hfwobtu/eKNV+DZWooI='
'sha256-VyH8N+K684/LLj4VCI+JjO5ncR6eASeVuQyTWNW1I4c='
'sha256-ZuJJaooZ4FwfcG4j1OiyHhCWDHIEbYV12W/ZrLR8he0='
'sha256-CA8qy8Nlp0KSrYzjVJ0NLHrh+yM5gADNSH7PNhDtfGA='
'sha256-rzopvbksgsaQBShi7vayXnOmIOah5yKy+h5AuzPoOvM='
'sha256-Isjf6GAChrKWENuFE9soGexQHUjw9Ud7fG5e4yD/CVw='
'sha256-eOcFGCMcGiwUvB9Y9rMV7qaC22JjBAPxr+VbEVgeeNA='
'sha256-09hsm6LSvsc1CsZ1hf3vdrOQn6OeyoeboGkA9jl1O6w='
'sha256-ricwFMxOSbHFd1OnnaBMwDXvFAeKXHk55fvmlb7xcqc='
'sha256-9zqml2y8IBKApGuaKCOLgDooxiJqr93+wG3U6MvKF/8='
'sha256-DxVSnXXSv6N3QmmQgbMU39cuwkU1h6Stjctm+nz6TWI='
'sha256-4WeGXWL+sdC+6xG+MYin5VvnGKjUFikX/JrKthq2DCA='
'sha256-AmuYPDB5Y3y6ysCJ7xxmWEve2m8mOgGs2pgJJ9tQn1w='
'sha256-oWg1XsuGGRTyfhhGyj66CtiZQoB1S1sJ+6PB2xWmxEE='
'sha256-KDgiaz+7HT57Li8AeImVcUtbvVraGWIU6L4SYh7r/0o='
'sha256-LJcigDG6+m3QaQaKEAerGiS9WL3mhz3yYH0VMmQAjhg='
'sha256-seDNr8K9cNjuOvD1KLoSQTmMvc6sUpyISMkwzdw5+wc='
'sha256-OA/8vfNkEv1HWVBrUZzUq5dbBjYPxDXWrXe/x3jHzZ8='
'sha256-nmFQOXindr/gxAnPRK9TBqpXoWXemAk3JbbvLVASeSs='
'sha256-OC/ebuqqlgUPra5C858Ovo55zFzMc6v6aK4un7tS3G0='
'sha256-xcX/xZery9fSNSCHSWA94dKF4U+IBn5dnHBL8CLurVI='
'sha256-9cF4NRd/W524YWX19wPUskAJpqh+zJKmqu65fbX4ZI4='
'sha256-/9VMC2HiHYbfhrPmBW0vM+Ezcl7JxKK134j8qEIKf/E='
'sha256-JxF4gNpzoj/21Mr35FiDNKFcHAC68CK393VOTiVHuPs='
'sha256-iQgblM457mBKUyLyPfJ4eiViahtCPe6TinF4PeDoveo='
'sha256-ShOWJWT7tlVADCGNdw4kDOex87aOkfou9Rw9GpC7rPA='
'sha256-zuk2ICQDiyddlNSkAYLYfnfL2EnhjovoOhkxIFDC1Oc='
'sha256-FtRE0zWebkNW1nq7rht7sdfrNotSuOM7m6sI8ofIA+c='
'sha256-IYt45TL3xi6h8lYbipZpmgbUqPf52cU1zptRx/3iecE='
'sha256-YMEuWvpGGqhRTFCbnD9r6f8MlWezci1Sse53MwDyIJs='
'sha256-JzIO8rAmTSd9KatX0ZmMCdlzcWm09rJgr7KxrtvGvHs='
'sha256-lYKHY0LDzAmKqWsFjV6Joix00GQMslxHmTm3zPpqEEQ='
'sha256-kuHUH5UCZ3AIEIcr7tb/I4lr+rUK6hyKmXIzLYrIcQU='
'sha256-6ESU7JQanv2IBm1VsNFb0gxYS1L5b00uyTcgcRWaMis='
'sha256-/2VM8p/9/0GK0vucAh+ZZhvqbZL5u7HTNzsu4j6e0uI='
'sha256-RbZou3D8MbP88fiDvq5H3l6HSeqc61XLbalXwMt4BbQ='
'sha256-XIDKBMuiW4YPTfqOMXTGOvaH1oyFgCrxyr0xqn8ia/w='
'sha256-yToHXA1dNRRL7TOO7L9114h/BLjjCw48JXvaSehn9Q8='
'sha256-155mdbgwX28hh4dwsU1V5Xh3XoWT2H35xVvVRB6xSq0='
'sha256-ANAyeqn83HBOXIm8BrMsndwBIUsG7YrZ+THKk+gkZUU='
'sha256-+Jeo5k8ZDzW03RQ2kWvIpRJd55/k2E7KAgMCU1khckQ='
'sha256-3haQwgbbC8qz4QqlRD2psQ/q1z1lhNzTgWflNmXb7lg='
'sha256-X2Q42/FL2sSBB+Tn5NO/O9xgqtk6EdBvZV2YWlL8wbQ='
'sha256-Tw+c8qda8/SYrXQzeMHHVx73VCA97/YcyLnvi5Nrg5I='
'sha256-ScdKHvC/9kpzBja70Rifqor9RjqnZjBgysNeRWGWFkk='
'sha256-Xf0r6SL7BOr38WIvo1uGHwAD97SqFJ1y4RNr2dC4ViQ='
'sha256-tOc31JEVy4dBWxvdnb0JjcqvB+SN0pm9gy8dpRfTLoE='
'sha256-rRaxbF7v3Tn4aSrEeYkfLxkHXYxh7z1x487COILuMvU='
'sha256-NmKOIPpQMBig6Sd5XcNd8eEW/lYnr73qw/OTvffAE3w='
'sha256-XtqVjp3e53Iftx56dhjGTb8gzHewa6Tk0iadbD5QZVs='
'sha256-/GbwIcZ9BkwUkKErWk1NL1FnymkqFsoS8fOkzaKab6k='
'sha256-mkPn+RDGjn4UwK/s83Z71XHmXyxcfLHoHOi6e/Gcn8w='
'sha256-/c/CIqR9t/f9GaSqXrPBrnXT03aPHnMIlAffH3ph0UA='
'sha256-CHiMJ79G3FU0GZUA1TAMlVTctRUjw59cGrSImoCASSY='
'sha256-uN5QYEkinI/qoEJhyAvV3tiF2LQKFvNz4tJ8fgcYQkE='
'sha256-hbORok+ffOIHyl3GNG4VTkiHHZQMRv1H0g3Bn1irTsk='
'sha256-AEqhW0e0+HaDcTAiYLmlwyle/uZMECIOmB6L/THo0QA='
'sha256-hKT1+fnKPcGDxVpJtKH1eWP3DYeIc3Gl91FrD8K4sE4='
'sha256-3KI7KhWIgNIdqSaItu2z5mOpOvqzTMi0r70IjaxuGfc='
'sha256-CX5T/8EWCvTGnCUeewQY17u8jXtRQW9UtDUd9mpyETU='
'sha256-WUi579HKIKWgE3g04VCrUrRDOP/5kufIDR1BOzX+QXI='
'sha256-1OjyRYLAOH1vhXLUN4bBHal0rWxuwBDBP220NNc0CNU='
'sha256-uUeOGkaP1+Ufkib43Or4hSRfrqpfdo7R8LLmiyzWAHs='
'sha256-cqR05uXBQ0/AZQ0A3HWXijAvNEU82EC8io2xUBQ1NIM='
'sha256-04gfYVyUACs/+mp9gDryavYOxcJSmgZiaI5eH+ebXnE='
'sha256-qnsWdWHffWecXUng+fr0ze10q0EsVDysP/CKht42llM='
'sha256-q132Jbx229ThY77S3YiN+Cj5AVm7k1VlJcMYIbZUHUY='
'sha256-SgZQWsfLqFIbXUavZS4pxgi9Pr0JFuIh5pAp0LdrHPU='
'sha256-nnrTnDEGmB6bOA0NLGqBCwNY6pTgDYGZzwy7NtQ45ZU='
'sha256-1HS0bWhXUEHlZ7ULrDrCTrgG2i6zckAZhvBIoKR+peQ='
'sha256-mBusOgjUPzXu6PDP8QunY0dZBxWnzYl2RQS+kb9nou8='
'sha256-Luzy6IqaMGhViljU4yqJY9ifok/sY/lJPWHuJyCG7co='
'sha256-BiQBDv7YAohItn1dVtUg8fZP4TqNmxIWfBi3oCCcpxY='
'sha256-2vbhkezEJtWUWPmKBnH+UoPtc/2hOWcGYiuOFPRcWv8='
'sha256-CD6j3UTmxo44gAO4s17On++QvWhDTvY3Us3aOjBLVRI='
'sha256-c/qnHjTN/jHEtsblRiFe6R/wtyDVG6W7k3OmibIkoHw='
'sha256-PJL/39dVsOFcxOADGT9qjWIcpKru3ut/GnireKitqAg='
'sha256-qGlJgegvjhk3dZD+Wbb7ohW/kfmXcRBiXYa/tWHb0r8='
'sha256-Dgyxw7FNBYP6pNQIDzUEiSB5bNZAX9g/WSgWWJXM8TY='
'sha256-lY3/x25zCDEAXrR2rMuzb7TLKSwbH6DewUXG+rQn1lM='
'sha256-XGubZ6D7JjzAfwsw/0wYKrSkXoxcBXsvMDHU+WyCqvE='
'sha256-vSMRK+S9bHoEIvpgaVPqGYUlaWOTnUfyGqPx1zYtcE0='
'sha256-+17AcPK/e5AtiK52Z2vnx3uG3BMzyzRr4Qv5UQsEbDU='
'sha256-ZDJ0XmfLMIxmqNB4T7XR/3GbbTDB6siWx+RT/XKpYX8='
'sha256-Z30ZkMx7lkhmNI47yLEp0LzXr0iey4J8vUHAhzHtIyA='
'sha256-YGZoQa8dBVz6KDzk/7N4pCbq5JwOQhyK0fAa98d0TYk='
'sha256-NrvtWxwbdqUL22sWJa6qg/Lk+qxC+KxKSMMqlhYwaBk='
'sha256-ouVSI2zjrcBBD9ite2MJIF/WBhsC21M9hhYW4zBv2+U='
'sha256-uuU62KlI4OF1/ToFiT7AVlNXOnrAyQUkwwB3oebpcgI='
'sha256-DO/6dYx7kRAf6bEajzOmb82rur0WAU1coNZcEyTpFDg='
'sha256-siAsSOeqV0AiU3Sa5iJUBxLNPBISKYAjSTQNRqyxXac='
'sha256-RgP7rYAvm+8a0izrZyLKQ81mg15FapqY30k3HWDfYiE='
'sha256-81Wp3QNNLW0+Xqy96uz5+VLwjk0FWCcPzuuR7tGdh/0='
'sha256-f7ttalT3ze3ZEIeH8MGUvOnJ59yGtoc4fxuCbfV7EKs='
'sha256-5bDYx0hdfo1Q+Te/9lquGhsPjwd6DMKNGfTIiezNq9o='
'sha256-TDSGGu6ewAK33Xk3Z1tm0DMtRIGrTzrnOxMpP2DSbwo='
'sha256-iQOeAYRkV5xRYkD1D+j9sDNLSxF4ehwBkrxk9gYTa90='
'sha256-dVOh/EIhickiKl8wtsFggvr9rM6a20gTB2wKH4TpRso='
'sha256-AOK2jeP/eMq3t4hHyr8NIGJZBlxG8hB8uG6sE3WFTgQ='
'sha256-5XWHUJ1EAaNMu4C1SzPzVghEWrelwMznqD5r7IjZyYM='
'sha256-GpYppTrgnZYNx1gHe40C7ClMyUa7QKa/tbwEue6nSDg='
'sha256-hRtd/70czCgR5TnOMQpveuJwXwN44dUcFch7vyDDkBU='
'sha256-utbScW0HzqYePA2ToMvkOKVeQo3R3EYV4n5zReeZHMg='
'sha256-3UZ3S9uqoCaIZq9NZ3pr+llNfUY+rHMF4JBkXSThdFo='
'sha256-PX1cGvUl2Hs9DJtc9C++/XGA2JLebIwL4qvS74GC+YA='
'sha256-vZSrcjpmdTSN6aGX0VCXuHBLyq/5AO4ECvDotGkeInQ='
'sha256-EaQQo6r+9RnV2p1vUFJvXKePcTv9wd1W3PX5StXBrcE='
'sha256-se62tHiBbt4eHEjWmAf4qihBMgYQkrBmFO54fVUj7B8='
'sha256-YYNpUSYsLsP6GOCURp/yvwQdaMtHDcWq53aGwVSC47s='
'sha256-Ney1i/u0NvjFMf7kVO1uRAoapub7NRnwjwX51Kxiz9U='
'sha256-d95drJMEoZVKKKI4fZCJxhfEyLlsHcdroC3otLb0IDI='
'sha256-BN5+jXmFul/Q6MdDY9vcpb6ZAB8oz7W51qF5N4S5lR4='
'sha256-hOqW6do5DKjM2JgqZz5L6QC4arCVGE16TWbHHXtS/dM='
'sha256-ntk4B19faTu6cwm53pVliI3SZtF/ANZY8jrKCcwXVgk='
'sha256-ZeC0QVWup9JRaCtkytHk2W/uk5bncja+rjrawNNMvyo='
'sha256-E/2Ajr8+e/L7x503J+8RlL09nuMaLzk5wIRg2pEiC9U='
'sha256-ilqJee5DBXfq2vhxAwOcngZlLAeEKExsps7hFGc0SUs='
'sha256-opJ4d/9I3fCUe6h+bA714kmeTdo9IwjRk+F6hhqiNps='
'sha256-orhF6eJClw4f8bCCZNxknfD+6dlLqKcb+yACGRIwTiA='
'sha256-N6tSydZ64AHCaOWfwKbUhxXx2fRFDxHOaL3e3CO7GPI='
'sha256-72+yQl0DPBmmfsK4ui7zFKz2616zvj+WUy4xkHrDOSo='
'sha256-ujb20LNgcxYMoEloxENhnGoXTGCruxDGR3gE8yZe8C0='
'sha256-7NTuUrQiUXMYqgVEhhwEcU//2wuDR221V3/wR3EFmxY='
'sha256-mVE2aSXIQ7voec/KBkQVwm2VJBM23Npn8rsUB5SFiSk='
'sha256-1ruv06G+aq4ofS208ZTtoIbrzh7YjITUcOXPthJr8pg='
'sha256-zKBlw1jdxJAMYhjeGsqRThBOltee+8UB+9uJS5TpArU='
'sha256-h+G8TkW+yvPNV+adzPqj0erm98QNudAH8qt4DV4ze/M='
'sha256-k6XguFuDC1F6R6L+3gfs0z9vsykJmnolwrxB2E8Ji1g='
'sha256-+q7blVkOkNo8wUYpKGaeRdfVnvAAwEMGhun8Jnvh240='
'sha256-UZhTbpd/rFrRhNlR+eaFyUFREAi+mNtsEW8qMbxVx7g='
'sha256-Rmg6xaLOiZ1aYmwiE9tCm3QOytO40eewnqL5z202A8E='
'sha256-KFImQf4jP79OcIONYXNnynrtv5CncX38pSr86ecj2lU='
'sha256-V4txg9FQ8pReQj8p1qQeMXuIi1io8/BgETr5lYr+ebI='
'sha256-vEW56h4WZ8uiRNtxLxQUccDvI8U8XRLO/EiBmpPQE20='
'sha256-ECBneI9C+qU+geAYDgv19Nx3gdmaOtXzZbD6DwImTYQ='
'sha256-Y5UOgGLpNjHl6KaBoW4GO1Z40K3fgj+7+wepfZtm5sk='
'sha256-wNFRje+B9GXMnGskE3GH2F3M7hhQ0puI/uPflIaG3Xs='
'sha256-PMDmAW7U9yHHXbkMbiRITkPZGVGqTNcI2+RREcL3nSs='
'sha256-HXSoGazJBCzey/c0e6O1lunaQIpEIum9+YUZmD1r8bA='
'sha256-mz2UdiT3d0BdqzKiCrrFschE5iQLSA06K8gjvr23Pwg='
'sha256-ttvdrrmQh7nmNaPsLvIgNVK9kJh8MH6P7V2b8KnqO7s='
'sha256-hiRBRcASv8e7TdM+a0h2narRZ3gP0zECb1lpQiuCAG8='
'sha256-04dj+n7bpz0BprxBI6fQyE9bElNhtrQ/F3anntU/ogE='
'sha256-n3fqddGZI6ZorOY2A/yOk4KlGLOxVvRHpKG3ma4KgCg='
'sha256-zsc0nnDOp1TfPiK3UDjKx9YQeLpEqlahHd/6r4u0VtI='
'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU='
'sha256-UwgV1CZMR6Oms7lh0GxnfQT8+TLVKJWla/OBmHukIwE='
'sha256-W2y26x0N/mKlFcxDKgnbCrKr7bL7c601egEof3rrp2A='
'sha256-VfUdIH9ePuXrcWR5uN5HTNn7fTezqv4lbCHcLCuMLeM='
'sha256-LeVATw4omooo0NDMpbzROTu6tyYxyft+XhGCCT9Nzks='
'sha256-aSOcYGqzAmlC+EpTIkbPXZmXCFxdZvBiyjvczaZcbyI='
'sha256-uTJJRJKYi/VsTQRLprYcUXRGqBEwpTq32ITvHir+SQo='
'sha256-B9+9fefLA/siVckMXPnyLSkocvde4++uAgwomimqLqo='
'sha256-/BPMbBE2rik0bph4mtV4X5B34kAuJzhlu/+FzZI5bCk='
'sha256-Ob+iCT5Mp8yC7fmhS4PmCgS6XrS9bB+IWHcWiZtcRUU='
'sha256-Bfug51DOzJxd/WJ1b2biTPuf3ST8Ge7PAkGt/PrG42E='
'sha256-tnRDz9mpPI+hzFmlvHhME1lsIP+vYm59wW7YIkm+ibw='
'sha256-5hxm1PARyHt0GF5tz6L3Svj5YL+6oeUMzDJi/xhzCb0='
'sha256-8/8h8Az/dYeyyNyF7ahPpzMCEdhGkmSLTu7ANraOn4I='
'sha256-4vn3psoP9P+ofZEumkZTX8uuKR3Yz7JRUqaip9mB1rY='
'sha256-h8us1JMJ/gVvF6yEgO5YXxqhYqcvg9z7mGxS5YoLpi0='
'sha256-AM5KeIdw35eN9d0IqiiHMC12XUKCiSYA2W78ApIVbbI='
'sha256-v4iRHu4koWO1LC41LONXMFxMPDClpTDPunpcQ01Lbho='
'sha256-Lt4DMjCSbwOrnOA9KBRo76Gs2rsrnMSDFAoBLy2ugF4='
'sha256-FYXwsn0Bbll1KvkAqzoqWm7sSp+fve3FnAZB4yKbRds='
'sha256-3nNL2bREG5/ISVK3OMtH0kVetdStucUKbSOiNKQCzFY='
'sha256-32MqHIHc66Y+INfeEH5R4Pgz3WiCyMFMTfTKQZbAL9U='
'sha256-rjf0a7D2ZBuu7zp3cO/hN6/Zd3tLQw3bZWv32eEetYI='
'sha256-5JJbWDgAaTsPDpFXf45QH2x2lkbPCalq1p4lUldgTtM='
'sha256-uScOumXMLAn7xTLg8rOLADDhQZSU4mEyJNDtCOmy0ZM='
'sha256-Hv6y2/gOcE/PkQuZIuH6HL8pWYjCSjWeCfc4QFwXPws='
'sha256-A6mKWrXA0Knsj5tMXP+f+sfI0J+8r4JOOgYEN0LjLBA='
'sha256-3dMBEqdxl6izlt1q64NSyh3rhLZyGrSscjRqzKUiQPY='
'sha256-nIvQEuWEow1gAX/QBzVM+2FyLhmfCV349flI8fPP1Bk='
'sha256-1r3fNzz94lAY9GXIK4Hjk791fma80P3v36im+gDBuWk='
'sha256-KZuo+YAAmrUZN+4W/8JfQAzyZ9W7TARtZvuH7ZGhfB4='
'sha256-AsYUdlBo/4eyeykDJ53/dbg2R2DSl8jPO1AiBPsGfJg='
'sha256-6kicvHWGntlxIVZEn1FJ/C+SEYUq4e3SGmAbEJkqX7k='
'sha256-8auM9sycPxleN3aUVD7CYPCzewLJOJxlv4kZPJasINw='
'sha256-XnxvmVuhLaUz4Vo9ivCl5fYYQAC2X9Y4fdQ/NvTWrUc='
'sha256-yHOY6ezzwqzmh/mB2TkKjJs6H1tJKJ448G4JDbdDEro='
'sha256-YnoUM0KxHBZsLYU7LDpNFR/AAAAZ2vLCW2n6cOd5NvA='
'sha256-CT7VzrX/CIJjIRXqGf6L3emEj0LszjyaMQpOXivpRyg='
'sha256-ZnuT4ijaGo9z+RVsIGGgcsQ3pEavB2usiq1UB18ed6Y='
'sha256-oDdGJzR373Z8DYRyvA3DlrPAuFgvE1TKXU55liGrDE4='
'sha256-114pz6LmQC05x6DW4DUSsn9f1f6YdCAQZvBsC5N4hvU='
'sha256-Eys1ADEUutegCm+3P/SaJYvlXivqvpmvNTtFnqyw2e0='
'sha256-N20x2lz9JUgYNG+PfATLFHTWGpsf5hVkPBpzJKJC594='
'sha256-lHUo5LSe/xSUXgsC1CoQUeNsiQ9grM69+CJm4Ad4KIc='
'sha256-c/E4ubG8qFk+HV7KAGeD5UuAdG478PilO3NrzYLQlic='
'sha256-i84ZlawxqLRIrke1Wvd41JwTl4LzeDX55+wQXFnHLQU='

;

        font-src 'self' https://fonts.gstatic.com data:; img-src 'self' https://illimitado-aanyahrv2.obs.ap-southeast-3.myhuaweicloud.com https://v2uat.aanyahr.com https://www.aanyahr.com https://aanyahrv2.obs.ap-southeast-1.myhuaweicloud.com data:; 
	connect-src 'self' https://progressor.usetiful.com https://www.usetiful.com https://v2uat.aanyahr.com:1000 https://v2uat.aanyahr.com:6300 https://appv2.aanyahr.com:8000 https://api.ipify.org https://ipv4.icanhazip.com https://api.gleap.io https://appv2.aanyahr.com wss://ws.gleap.io; form-action 'self' https://v2uat.aanyahr.com:6300; frame-src 'self' https://app.csvbox.io https://outboundmedia.gleap.io https://messenger-app.gleap.io; child-src 'self' https://app.csvbox.io; base-uri 'self'; object-src 'none'; frame-ancestors 'self'; report-to csp-endpoint;" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>